@import "vars"
@import "base"
@import "grid"
.calcRow
  display:inline-block
  background: $background
  height: 40px
  font-size: $font-size--base

.form
  background-color: $background
  display:inline-block


.operator
  text-align: justify

.buttons
  color:red
  margin: 0
