.calcRow {
  display:table;
  background: green;
  width:
  height: 40px;
}
.form {
  background-color: green;
  display:inline-block;

}
.operator {
  text-align: justify;
}
.buttons  {
  color:red;
  margin: 0;
}
